* {
    font-family: "Trebuchet MS", sans-serif;
    color: #31572c;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgba(88, 129, 87, 0.3);
    font-size: 70px;
    margin: 30px 0px 50px 0px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(58, 90, 64);
}

p {
    /* font-style: italic; */
    font-size: 27px;
}

a {
    text-decoration: none;
    font-size: 20px;
}

img {
    width: auto;
    height: 350px;
    border-radius: 5%;
    border: #2d682d 1px solid;
    box-shadow: 6px 6px 3px 0px rgba(88, 129, 87, 0.5);
}

.card-of-recipe {
    display: inline-block;
    padding: 30px;
    margin: 0 20px 50px;
    height: 600px;
    width: 600px;
    background-color: rgba(163, 177, 138, 0.3);
    box-shadow: 6px 6px 7px 0px rgba(88, 129, 87, 0.5);
    border-radius: 5%;
    border: #2d682d 1px solid;
}

.main-page {
    text-align: center;
}

.btn-go-recipe {
    display: block;
    margin: 0 auto;
    background-color: rgba(88, 129, 87, 0.3);
    border-radius: 30%;
    border: #2d682d 1px solid;
    height: 70px;
    width: 100px;
    padding: 20px;
    box-shadow: 3px 3px 1px 0px rgba(52, 78, 65, 0.5);
}
